@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    min-height: 100vh;
    background-color: black;
    color: white;
    margin-top: 50px;
}

.nav-link {
    transition: all 0.5s ease-out;
    border-radius: 8px;
}

.nav-link:hover {
    background-color: #697afa;
    color: white;
}

.heading-description {
    font-size: 45px;
}

.profile-logo {
    height: 88vh;
    width: 100%;
    border-radius: 15px;
    margin-top: 25px;
}

.infobox {
    margin: 5px;
    font-size: 19px;
    width: 100%;
}

table {
    display: table;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: gray;
    border-width: 1px;
}

.infobox-label,
.infobox-data,
.infobox th,
.infobox td {
    text-align: left;
}

th {
    display: table-cell;
    font-weight: bold;
    padding-right: 25px;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

.intro-description {
    font-size: 20px;
}

.early-life-description {
    font-size: 18.5px;
}

.legacy-points {
    list-style-type: disc;
}

h1 {
    font-family: "Sans-serif";
}

.card-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-width {
    width: 55%;
}

.queen-images {
    width: 40%;
    height: 50%;
}

.carousel .carousel-item {
    height: 620px;
}

.carousel-item img {
    position: absolute;
    object-fit: contain;
    top: 0;
    left: 0;
    min-height: 620px;
}

.copyrights {
    font-size: 21px;
}

i {
    font-size: 28px;
}

@media screen and (max-width:768px) {
    .profile-logo {
        height: 75vh;
    }

    .card-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-width {
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .queen-images {
        width: 80%;
        height: 200px;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .carousel .carousel-item {
        height: 250px;
    }

    .carousel-item img {
        position: absolute;
        object-fit: contain;
        top: 0;
        left: 0;
        min-height: 250px;
    }

    .copyrights {
        font-size: 15px;
    }

    i {
        font-size: 20px;
    }
}